@charset "UTF-8";

/* ------------------------------
BASE
------------------------------ */
html {
    font-size: 62.5%;
}
body{
    position: relative;
    margin:0;
    padding:0;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo","ＭＳ ゴシック", sans-serif;
    color:#333;
    background:#fff;
}
div ,p ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,form ,li ,ul ,ol ,dl ,dd ,dt ,table {
    margin: 0;
    padding: 0;
}
.clear{
    clear:both;
}

/* Micro clearfix */
.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.wrap {zoom: 1;}
.wrap:before,
.wrap:after { content: ""; display: table; }
.wrap:after { clear: both; }

/* サイズ調整用 */
/*{*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -o-box-sizing: border-box;*/
/*    -ms-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/



.wrap1000_1{
    width: 1700px;
    text-align: center;
    font-size:1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.wrap1000_1{
    width: 1700px;
    text-align: center;
    font-size:1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img.img1{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 150px;
}



label.HowToUse1{
    text-align: center;
    margin-top:580px;
    font-weight: bold;
    font-size: 35px;
}

label.HowToUse2{
    font-size: 18px;
}

li.Manual{
    margin-top: 14px;
    font-size: 18px;
}


#header {
    width:100%;
    font-size: 30px;
    height: auto;
    padding:0.5em 0;
    background-color: rgb(11, 60, 109);
    color:#fff;
}
#header p{
    text-align: center;
}

#footer {
    width:100%;
    height: auto;
    margin-top: 5em;
    padding:1em 0;
    background-color: rgb(11, 60, 109);
    color:#fff;
}
#footer p{
    text-align: center;
}

p.loadingtext{
    font-size: 26px;
    color:black;
    font-weight:bold;
    letter-spacing: 2px;
}


/* 画面ローディング*/
#container{display:none;}
#loading{
    position:absolute;
    left:50%;
    top:20%;
    margin-left:-30px;
}

/*画面ローディング*/
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    z-index: 2;
}
/*#contents{*/
/*    width:100%;*/
/*    font-size:50px;*/
/*    margin: 20px auto;*/
/*}*/


p.loadingtext{
    font-size: 26px;
    color:black;
    font-weight:bold;
    letter-spacing: 2px;
}
/*画面ローディング*/
