<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- rwd meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <title>Intellijへようこそ</title>

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../static/css/WRYYYYY.css" th:href="@{/css/WRYYYYY.css}">

  <!--script-->
  <script src="../static/js/Common/LoadingAWS.js" th:src="@{/js/Common/LoadingAWS.js}"></script>
  <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
  <!--  <script src="../../../../static/js/jquery.sheepItPlugin-1.1.1.js" th:src="@{/js/jquery.sheepItPlugin-1.1.1.js}"></script>-->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>-->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/extras/jquery.metadata.min.js"></script>-->
  <!--  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">-->

  <script type="text/javascript">
    $(function(){
      $("ul.ddmenu li").mouseenter(function(){
        $(this).siblings().find("ul").hide();
        $(this).children().slideDown(150); });
      $('html').click(function() {
        $('ul.ddmenu ul').slideUp(150);});});
  </script>

</head>


<body>

<div id="loader-bg">
  <div id="loader">
    <img th:src="@{/images/load.gif}"alt="ローディング画面"><br>
    <p class="loadingtext">Loading...</p>
  </div>
</div>


<div id="header">
  <p>おめでとうございます！<br></p>
  <p>Intellij IDEA の世界へ入門されました。<br></p>
</div>


<div class="wrap1000_1">

  <form th:action="@{/hello}" method="GET">

    <div>
      <div>
        <img class="img1" th:src="@{/images/Year.png}" src="../static/images/Year.png" alt="2022"><br>
      </div>

      <label class="HowToUse1">👇 How To Use It 👇</label>

      <li class="Manual">
        <a href="https://pleiades.io/help/idea/your-first-spring-application.html#run-spring-application">
          使い方1</a>
      </li>

      <li class="Manual">
        <a href="http://abehiroshi.la.coocan.jp/prof/prof.htm">
          使い方2</a>
      </li>

      <li class="Manual">
        <a href="https://www.instagram.com/mikie_hara.official/">
          使い方3</a>
      </li>

      <br><br>
      <label class="HowToUse2">工事中</label>

    </div>
  </form>


</div>



<br><br>

<div id="footer">
  <p>.<br>ビリングシステム株式会社</p>
</div>

</body>

</html>

